<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignments</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>assignments</h1>
    <center>
    <table>
        <tr>
            
            <th>Task ID</th>
            <th>User ID</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i<assignments.length; i++) { %>
        <tr>
            
            <td><%= assignments[i].task_id %></td>
            <td><%= assignments[i].user_id %></td>
            <td>
                <a href="/updateAssign/<%= assignments[i].assign_id %>">Edit</a>
                <a href="/deleteAssign/<%= assignments[i].assign_id %>">Delete</a>
            </td>
        </tr>    
        <%} %>
    </table></center>
    <br><br>
    <a href="/createAssign">createAssign</a>
    <a href="/">Go to Task</a>
    <a href=""></a>
</body>
</html>