<!DOCTYPE html>
<html>
    <head>
        <title>Create Type</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <h1>Create Types</h1>
        <form method="post" action="/createTypes">
            <label for="title">Category</label>
            <input type="text" id="category" name="category">
            <br>

            <input type="submit" value="create">
        </form>
        <a href="/types">Back to list</a>
    </body>
</html>