<!DOCTYPE html>
<html>
    <head>
        <title>Create Assign</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <h1>Create Assign</h1>
        <form method="post" action="/createAssign">
            <label for="task_id">TASK_ID</label>
            <input type="text" id="task_id" name="task_id" >
            <label for="user_id">USER ID</label>
            <input type="text" id="user_id" name="user_id" >
            <br>

            <input type="submit" value="createAssign">
        </form>
        <a href="/assignments">Back to assignments</a>
    </body>
</html>