<style>
    .nav-item {
        display: block; /* เปลี่ยน span เป็น block element */
        margin-bottom: 1px; /* เพิ่มระยะห่างด้านล่างระหว่างรายการ */
    }
</style>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; Slowhand Javascript</p>

        
        
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><span class="nav-link px-2 text-muted">Tanakorn Taweethawon</span></li>
            <li class="nav-item"><span class="nav-link px-2 text-muted">Ariya Prasatigapun</span></li>
            <li class="nav-item"><span class="nav-link px-2 text-muted">Ratchanon Netsuwan</span></li>
            <li class="nav-item"><span class="nav-link px-2 text-muted">Thitirat patthapan</span></li>
        </ul>
    </footer>
</div>